body,
html {
    background: #000;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /*font-family: "HelveticaNeue-Light", sans-serif;*/
    font-family: "MFYueHeiNoncommercial-Light", sans-serif;
    letter-spacing: -2px;
    color: #fff;
    font-size: 75px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricprecision;
}

.showimg {
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
}

.mainmm {
    height: 100%;
    width: 100%;
}

.wi {
    line-height: 75px;
}

.top {
    position: absolute;
    top: 50px;
}

.left {
    position: absolute;
    left: 50px;
}

.right {
    position: absolute;
    right: 50px;
    text-align: right;
}

.center-ver {
    position: absolute;
    top: 50%;
    height: 200px;
    margin-top: -100px;
    line-height: 100px;
}

.lower-third {
    position: absolute;
    top: 66.666%;
    height: 200px;
    margin-top: -100px;
    line-height: 100px;
}

.center-hor {
    position: absolute;
    right: 50px;
    left: 50px;
    text-align: center;
}

.center-ver-temp {
    position: absolute;
    top: 50%;
    height: 80px;
    /*margin-top: 420px;*/
}

.bottom {
    position: absolute;
    bottom: 50px;
}

.xxsmall,
.xsmall,
.small {
    /*font-family: "HelveticaNeue-Medium", sans-serif;*/
    font-family: "MFYueHeiNoncommercial-Light", sans-serif;
    letter-spacing: 0;
}

.xxsmall {
    font-size: 15px;
}

.xxsmall .wi {
    line-height: 15px;
}

.xsmall {
    font-size: 20px;
}

.xsmall .wi {
    line-height: 20px;
}

.small {
    font-size: 25px;
}

.small .wi {
    line-height: 25px;
}

.medium {
    font-size: 35px;
    letter-spacing: -1px;
    /*font-family: "HelveticaNeue-Light", sans-serif;*/
    font-family: "MFYueHeiNoncommercial-Light", sans-serif;
}

.medium .wi {
    line-height: 35px;
}

.xdimmed {
    color: #666;
}

.dimmed {
    color: #aaa;
}

.light {
    /*font-family: "HelveticaNeue-UltraLight", sans-serif;*/
    font-family: "MFYueHeiNoncommercial-ExLight", sans-serif;
}

.icon {
    position: relative;
    top: -10px;
    display: inline-block;
    font-size: 45px;
    padding-right: 5px;
    font-weight: 100;
    margin-right: 10px;
}

.icon-small {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: -10px;
    font-weight: 100;
}

.time .sec {
    font-size: 25px;
    color: #666;
    padding-left: 5px;
    position: relative;
    top: -35px;
}

.forecast-table {
    float: right;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
}

.forecast-table .day{
    width: 80px;
    text-align: right;
}
.forecast-table .temp-min,
.forecast-table .temp-max {
    width: 40px;
    text-align: right;
}

.forecast-table .temp-max {
    width: 60px;
}

.forecast-table .day {
    color: #999;
}

.calendar-table {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.calendar-table .calendar-icon {
    width: 1em;
    min-width: 1em;
    margin-right: 5px;
    text-align: center;
}

.calendar-table .days {
    padding-left: 20px;
    text-align: right;
}

.dishwasher {
    background-color: white;
    color: black;
    margin: 0 200px;
    font-size: 60px;
    border-radius: 1000px;
    border-radius: 1200px;
    display: none;
}

.th {
    display: inline-block;
    text-align: right;
}

@font-face {
    font-family: 'MFYueHeiNoncommercial-ExLight';
    src: url('font/MFYueHeiNoncommercial-ExLight.eot'); /* IE9 Compat Modes */
    src: url('font/MFYueHeiNoncommercial-ExLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/MFYueHeiNoncommercial-ExLight.woff') format('woff'), /* Modern Browsers */ url('font/MFYueHeiNoncommercial-ExLight.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/MFYueHeiNoncommercial-ExLight.svg#MFYueHei_Noncommercial-ExLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'MFYueHeiNoncommercial-UltLight';
    src: url('font/MFYueHeiNoncommercial-UltLight.eot'); /* IE9 Compat Modes */
    src: url('font/MFYueHeiNoncommercial-UltLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/MFYueHeiNoncommercial-UltLight.woff') format('woff'), /* Modern Browsers */ url('font/MFYueHeiNoncommercial-UltLight.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/MFYueHeiNoncommercial-UltLight.svg#MFYueHei_Noncommercial-UltLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'MFYueHeiNoncommercial-Light';
    src: url('font/MFYueHeiNoncommercial-Light.eot'); /* IE9 Compat Modes */
    src: url('font/MFYueHeiNoncommercial-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/MFYueHeiNoncommercial-Light.woff') format('woff'), /* Modern Browsers */ url('font/MFYueHeiNoncommercial-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/MFYueHeiNoncommercial-Light.svg#MFYueHei_Noncommercial-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url('font/HelveticaNeue-UltraLight.eot');
    /* IE9 Compat Modes */
    src: url('font/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/HelveticaNeue-UltraLight.woff') format('woff'), /* Modern Browsers */ url('font/HelveticaNeue-UltraLight.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/HelveticaNeue-UltraLight.svg#9453ea8da727d260bcdbfa605bdbb5d2') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('font/HelveticaNeue-Medium.eot');
    /* IE9 Compat Modes */
    src: url('font/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */ url('font/HelveticaNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('font/HelveticaNeue-Light.eot');
    /* IE9 Compat Modes */
    src: url('font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */ url('font/HelveticaNeue-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/HelveticaNeue-Light.svg#7384ecabcada72f0e077cd45d8e1c705') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 200;
}
